{% extends "layout.html" %} {% block content %} {% load static %}

<header class="row bg-black-d">
  <div class="col-md-4">
    <img src="{% static 'portfolio/Johan.png'%}" class="img-fluid" />
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-6 my-auto">
    <h1>Hello my name is</h1>
    <h1><strong>Johan Alejandro Ontiveros Alfaro</strong></h1>
    <h3></h3>
    <p>
      I see myself as a future FullStack developer, and I am focused on learning to apply django in the backend and the use of React in frontend.
    </p>
    <p>
      Some of my technical skills:
      <ul>
        <li>Lenguajes: "Spanish: native" and "English: B1".</li>
        <li>Lenguajes de programación: Java, JavaScritp, Python and PHP</li>
        <li>Frameworks: Angular and Django</li>
        <li>DataBases: MySQL, MariaDB and Firebase</li>
        <li>Im learning: Django, React and Astro</li>
      </ul>
    </p>
    <a
      href="{% static 'portfolio/FichaDeIdentificacion.pdf' %}"
      class="btn btn-primary btn-lg rounded-4 my-3"
      >Download CV</a
    >
  </div>
</header>

<div class="row my-4 text-center">
  <h3>Some Projects made by me</h3>
  
  {% for project in projects %}

  <div class="col-md-4 p-4">
    <div class="card bg-black card-project">
      <div class="card-body">
        <img src="{{project.image.url}}" alt="{{project.title}}"class="card-img-fluid img-fluid bg-black-d" width="400"/>
        <h2>{{project.title}}</h2>
        <p>{{project.description}}</p>

        {% if project.url %}
        <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm" target="_blank">{{project.url}}</a>
        {% endif %}
      </div>
    </div>
  </div>

  {% endfor %}
</div>
{% endblock %}

