{% extends "layout.html" %} {% block content %} {% load static %}

<div class="intro">
  <img src="{% static 'portfolio/img/ChibyJNoBorders.png' %}" alt="Intro Image"/>
  <h1 class="logo">
    <span class="logo-parts">J</span>
    <span class="logo-parts">o</span>
    <span class="logo-parts">h</span>
    <span class="logo-parts">a</span>
    <span class="logo-parts">n</span>
    <span class="logo-parts"> </span>
    <span class="logo-parts">A</span>
    <span class="logo-parts">l</span>
    <span class="logo-parts">f</span>
    <span class="logo-parts">a</span>
    <span class="logo-parts">r</span>
    <span class="logo-parts">o</span>
  </h1>

  <h2>FullStack Developer</h2>
  <h2>Portfolio...</h2>
</div>
<div class="container p-4">
  <header class="row">
    <div class="col-md-3">
      <center>
        <img src="{% static 'portfolio/img/JohanHarman.jpeg' %}" alt="Profile Image" class="img-fluid rounded-circle me"/>
      </center>
    </div>
    <div class="col-md-9">
      <h1>Hello my name is</h1>
      <h1><strong>Johan Alejandro Ontiveros Alfaro</strong></h1>
      <h3>I see myself as a future FullStack developer, and I am focused on learning to apply django in the backend and the use of React in frontend.</h3>
      <h3><strong>Some of my technical skills:</strong></h3>  
      <ul class="skills">
        <li>Lenguajes: "Spanish: native" and "English: B1".</li>
        <li>Programming languages: JavaScript, Python and PHP</li>
        <li>Frameworks: Django and Symfony</li>
        <li>Libraries: React, JQuery, ChartJS</li>
        <li>DataBases: MySQL, MariaDB, firebase and SQLServer</li>
        <li>Im learning: Django, React (Vite), Astro, PostgreSQL and SQLServer</li>
      </ul>
    </div>
    <div class="col-md-12">   
         <center>
          <a
          href="{% static 'portfolio/Spanish_CV_OntiverosAlfaroJohanAlejandro.pdf' %}"
          class="btn" target="_blank">Download Spanish CV</a>
            <a
          href="{% static 'portfolio/English_CV_OntiverosAlfaroJohanAlejandro.pdf' %}"
          class="btn" target="_blank">Download English CV</a>
        </center>
    </div>
  </header>
</div>

<div class="container p-4 my-4 text-center">
  <div class="row my-4 text-center cards-row">
    <h3>Work experience</h3>
    {% for experience in workexpirence %}
    <div class="col-md-4 p-4">
      <div class="card">
        <h3>{{experience.initial_date}} - 
            {% if experience.location %} 
            {{experience.final_date}}
            {% else %} Current. 
            {% endif %}
        </h3>
      <h2>{{experience.title}}</h2>
        <img src="{{experience.image.url}}" alt="{{experience.title}}"class="card-img-fluid img-fluid"/>
        <p>{{experience.description}}</p>
        <ul>
        {% for technology in experience.technologies.all %}
          <li class="list-inline-item">
            <img src="{{ technology.icon.url }}" alt="{{ technology.name }}" class="tech-icon"/>
          <center>
            <span>{{ technology.name }}</span>
          </center>
          </li>
        {% endfor %}
        </ul>
        {% if experience.location %}
          <a href="{{experience.location}}" class="btn" target="_blank">Look at this project</a>
        {% endif %}
      </div>
    </div>
  </div>

  {% endfor %}
</div>

<div class="container p-4 my-4 text-center">
  <div class="row my-4 text-center cards-row">
    <h3>Some Projects made by me</h3>
    {% for project in projects %}
    <div class="col-md-4 p-4">
      <div class="card">
      <h2>{{project.title}}</h2>
        <img src="{{project.image.url}}" alt="{{project.title}}"class="card-img-fluid img-fluid"/>
        
        <p>{{project.description}}</p>
        <ul>
        {% for technology in project.technologies.all %}
          <li class="list-inline-item">
            <img src="{{ technology.icon.url }}" alt="{{ technology.name }}" class="tech-icon"/>
          <center>
            <span>{{ technology.name }}</span>
          </center>
          </li>
        {% endfor %}
        </ul>
        {% if project.url %}
          <a href="{{project.url}}" class="btn" target="_blank">Look at this project</a>
        {% endif %}
      </div>
    </div>
  </div>

  {% endfor %}
</div>
<div class="container p-4">
  <div class="row my-4 text-center cards-row">
    <h3>My courses and certificates</h3>
    {% for certificate in certificates %}
    <div class="col-md-4 p-4">
      <div class="card">
        <h2>{{certificate.name}}</h2>
        <img src="{{certificate.image.url}}" alt="{{certificate.name}}"class="card-img-fluid img-fluid" width="400"/>
        <p>{{certificate.description}}</p>
        <ul class="list-inline">
          {% for technology in certificate.technologies.all %}
            <li class="list-inline-item">
              <img src="{{ technology.icon.url }}" alt="{{ technology.name }}" class="tech-icon" width="40" height="40"/>
              <span>{{ technology.name }}</span>
            </li>
          {% endfor %}
        </ul>
        <p>{{certificate.date}}</p>
        {% if certificate.url %}
          <a href="{{certificate.url}}" class="btn btn-light rounded-0 btn-sm" target="_blank">Look at this course</a>
        {% endif %}
      </div>
    </div>
  
    {% endfor %}
  </div>
</div>
<br>
{% endblock %}

