<footer class="text-dark bg-black-d">
    <div class="container text-center text-md-start">
        <div class="row text-center text-md-start">
            <div class="text-center mt-3 text-light">
                <h5 class="text-center text-light fst-italic">Contact</h5>
                <hr class="mb-2">
                
                <div class="menu">
                    <li>
                        Location: Zinapécuaro, Michoacán, México
                    </li>
                    <li>
                        Email: johalfaro1174@gmail.com
                    </li>
                    <li>
                        Number phone:+52 4431706300
                    </li>
                    <li>
                        
                        <a href="https://www.facebook.com/profile.php?id=100009288005984" target="_blank">Click here to contact me in Facebook</a>
                    </li>
                    <li>
                        
                        <a href="in/johán-alejandro-ontiveros-alfaro-5990a5287" target="_blank">Click here to contact me in LinkedIn</a>
                    </li>
                </div>
                <hr class="mb-3">
                
            </div>
        </div>
    </div>
</footer>