<footer class="text-dark bg-black-d">
    <div class="container text-center text-md-start">
        <div class="row text-center text-md-start">
            <div class="text-center mt-3 text-light">
                <h5 class="text-center text-light fst-italic">Contacto</h5>
                <hr class="mb-2">
                <p>
                    <li class="fa fa-home me-3 ">Location: Zinapécuaro, Michoacán</li> 
                </p>
                <p>
                    <li class="fa fa-envelope me-3">Email: johalfaro1174@gmail.com</li>
                </p>
                <p>
                    <li class="fa fa-phone me-3">Number phone:+52 4431706300</li>
                </p>
                <p>
                    <li class="fa fa-facebook me-3">Facebook:
                        <a href="https://www.facebook.com/profile.php?id=100009288005984" target="_blank">Johan Alfaro</a>
                    </li>
                </p>
                
            </div>
        </div>
    </div>
</footer>