<footer class="text-dark bg-black-d">
    <div class="container text-center text-md-start">
        <div class="row text-center text-md-start">
            <div class="text-center mt-3 text-light">
                <h5 class="text-center text-light fst-italic">Contact</h5>
                <hr class="mb-2">
                <p>
                    Location: Zinapécuaro, Michoacán
                </p>
                <p>
                    Email: johalfaro1174@gmail.com
                </p>
                <p>
                    Number phone:+52 4431706300
                </p>
                <p>
                    <a href="https://www.facebook.com/profile.php?id=100009288005984" target="_blank">Johan Alfaro</a>
                </p>
                
            </div>
        </div>
    </div>
</footer>